html, body {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	background: #000;
	font-family: monospace;
}

video {
	width: 33.33%;
	height: 50%;
	padding: 0;
	margin: 0;
	background: #000;
}

#container {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#grid {
	margin: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

